<body>
    <h1>ListO</h1>
     
    <button class='auth'>
            <i class="fas fa-user"></i>
    </button>
    <button class='auth'>
            <i class="fas fa-cog"></i>
    </button>

    <form id="logout" method="POST" action="/auth/logout"></form>
        <button class='auth' type="submit" form="logout">
                <i class="fas fa-sign-out-alt"></i>
        </button>
    <h3>Organising your life, one list at a time</h3>

    <h2 id='user_name'>
        <!-- <%= user.first_name %>'s Lists -->
    </h2>

       

</body>