<body>
    <h1>ListO</h1>
     
    <h3>Organising your life, one list at a time</h3>

    <h2 id='user_id'>
        <%= user.first_name %>'s Lists
    </h2>

    <button class='auth'>
            <i class="fas fa-user"></i>
    </button>
    <button class='auth'>
            <i class="fas fa-cog"></i>
    </button>
    <button class='auth'>
            <i class="fas fa-sign-out-alt"></i>
    </button>

</body>