<!-- <!DOCTYPE html> -->
<main class="edit" id="editProfile">
    Edit your Profile:
    <form method="" action="">
        <input type="name" name="first_name" value="<%= user.first_name %>">
        <input type="name" name="last_name" value="<%= user.last_name %>">
        <input type="username" name="username" value="<%= user.username %>">
        <input type="email" name="email" value="<%= user.email %>">
        <!-- <input type="password" name="password" placeholder="Password"> -->
        <input type="submit" value="Update">
    </form>
</main>