<!-- <!DOCTYPE html> -->
<main class="edit" id="editProfile">
    Edit your Profile:
    <form class="u-full-width">
        <input class="updateInput" type="name" name="first_name" value="<%= user.first_name %>">
        <input class="updateInput" type="name" name="last_name" value="<%= user.last_name %>">
        <input class="updateInput" type="username" name="username" value="<%= user.username %>">
        <input class="updateInput" type="email" name="email" value="<%= user.email %>">
        <input type="submit" value="Update" class="updateButton">
    </form>
</main>