<!DOCTYPE html>
<main hidden id="editProfile">
    Edit your Profile:
        <form method="" action="">
                <input type="name" name="first_name" placeholder="First Name">
                <input type="name" name="last_name" placeholder="Last Name">
                <input type="username" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Update">
        </form>
      </main>