<!--edit_form.ejs-->
<div class="container">
<form class="edit" id='editForm'>
    <fieldset>
        <legend>Select a New Category</legend>

            <input type="radio" name="category" value="2"> Read
            <!-- <label for="read">Read</label> -->

                <input type="radio" name="category" value="3"> Watch
                <!-- <label for="watch">Watch</label>-->

                <input type="radio" name="category" value="1"> Buy
                <!-- <label for="buy">Buy</label> -->

                <input type="radio" name="category" value="4"> Visit<br>
                <!-- <label for="visit">Visit</label> -->

            <input type="submit" id="move" value="Move">

            <button id="delete">Delete</button>

    </fieldset>
</form>
</div>