<!--edit_form.ejs-->

<form id='editForm'>
    <fieldset>
        <legend>Select a New Category</legend>

        <div>
            <input type="radio" name="category" value="2"> Read<br>
            <!-- <label for="read">Read</label> -->
        </div>

        <div>
                <input type="radio" name="category" value="3"> Watch<br>
                <!-- <label for="watch">Watch</label>
        </div> -->

        <div>
                <input type="radio" name="category" value="1"> Buy<br>
                <!-- <label for="buy">Buy</label> -->
        </div>

        <div>
                <input type="radio" name="category" value="4"> Visit<br>
                <!-- <label for="visit">Visit</label> -->
            </div>

            <input type="submit" id="move" value="Move">

            <button id="delete">Delete</button>

    </fieldset>
</form>