<form id='editForm'>
        <fieldset>
            <legend>Select a New Category</legend>
    
            <div>
                <input type="radio" name="category" value="1" />
                <label for="read">Read</label>
            </div>
    
            <div>
                    <input type="radio" name="category" value="watch" />
                    <label for="watch">Watch</label>
            </div>
    
            <div>
                    <input type="radio" name="category" value="buy" />
                    <label for="buy">Buy</label>
            </div>

            <div>
                    <input type="radio" name="category" value="visit" />
                    <label for="visit">Visit</label>
                </div>
    
        </fieldset>
    </form>
    