<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
<<<<<<< HEAD
    <header>
        <% include ./partials/_header %>
    </header>
<!-- <main class="container"> -->
  <!-- <div class="background"> -->
    <section class="input">
        <form action="/api" method="GET">
          <textarea name="text" placeholder="What do you need to do..?"></textarea>
          <button class='submit'>
              <i class="fas fa-check"></i>
          </button>
        </form>
    </section>
    
        <article class="list">
              <h2>
                  <% include ./partials/_lists %>
              </h2>
          </article>
          <article class="list">
            <h2>
              <% include ./partials/_lists %>
           </h2>
          </article>
          <article class="list">
          <h2>
            <% include ./partials/_lists %>
         </h2>
        </article>
        <article class="list">
            <h2>
              <% include ./partials/_lists %>
           </h2>
          </article>
        
  <!-- </div> -->
<!-- </main> -->
<!--     
    <form action="/api" method="GET">
      <textarea name="text" placeholder="Say Hi, API"></textarea>
      <input type="submit">
    </form>
      
=======
    <h1>Hello World!</h1>

    <form action="/todos/1" method="POST">
      <textarea name="text" placeholder="Say Hi, TODOS"></textarea>
      <input type="submit">
    </form>

    <form action="/api" method="POST">
      <textarea name="text" placeholder="Say Hi, API"></textarea>
      <input type="submit">
    </form>

>>>>>>> m/apihookup
    <form action="/auth" method="POST">
      <textarea name="text" placeholder="Say Hi, Authorization"></textarea>
      <input type="submit">      
    </form>
        
    <form action="/todos/1" method="POST">
      <textarea name="text" placeholder="Say Hi, TODOS"></textarea>
      <input type="submit">
<<<<<<< HEAD
    </form> -->
=======
    </form>

>>>>>>> m/apihookup
  </body>
</html>