<!DOCTYPE html>
<html lang="en">

<head>
    <title>SMRT - login </title>
    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/styles/skeleton.css" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Arimo|Oxygen:400,700" rel="stylesheet">

</head>

<body>
    <div class="container">
        <header>
            <h1>SMRT</h1>
        </header>

        <div class="row">

            <div class="six columns">
                <h4>Login</h4>
                <h5>Enter your email and password</h5>
                <form method="POST" action="/login">
                    <input type="email" name="email" placeholder="email">
                    <input type="password" name="password" placeholder="password">
                    <input type="submit" value="login" class="button">
                </form>
            </div>

            <div class="six columns">
                <h4>Register</h4>
                <h5>Enter your email and password</h5>

                <form method="POST" action="/login/register">
                    <input type="name" name="first_name" placeholder="First Name">
                    <input type="name" name="last_name" placeholder="Last Name">
                    <input type="username" name="username" placeholder="Username">
                    <div></div>
                    <input type="email" name="email" placeholder="email">
                    <input type="password" name="password" placeholder="password">
                    <input type="submit" value="Register" class="button">
                </form>
            </div>
        </div>
    </div>
</body>

</html>