<!DOCTYPE html>
<html lang="en">

<head>
    <title>ListO</title>
    <link rel="stylesheet" href="login_layout.css" type="text/css" />
</head>
<header>
    <h1>ListO</h1>
    <h2>Login</h2>
    <h3>Enter your email and password</h3>
</header>

<body>

    <form method="POST" action="/auth/login">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
    <h2>Register</h2>
    <h3>Enter your email and password</h3>
    </header>

    <body>

        <form method="POST" action="/users/register">
            <input type="name" name="first_name" placeholder="First Name">
            <input type="name" name="last_name" placeholder="Last Name">
            <input type="username" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
        </form>
    </body>

</html>