body {
  background-color: #2f3840;
  width: 900px;
  margin: auto;

  header {
    padding-left: 10px;
  }
  h1 {
    color: #bae0ff;
    font-size: 6em;
    margin-bottom: 0px;
    display: inline;
  }

  h3 {
    color: #5d707f;
    font-size: 1.5em;
    margin-top: 0px;
  }
  #user_name {
    color: #8ca8bf;
    font-size: 2em;
    margin-top: 15px;
    width: 450px;
    display: inline;
    margin-bottom:3px;
  }
  .auth {
    color: #8ca8bf;
    background-color: #2f3840;
    border: none;
    float: right;
    display: inline;
  }
  // i.fas.fa-sign-out-alt {
  //   margin-right: 0px;
  // }
  form#logout {
    display: inline;
  }
  i.fas.fa-cog {
    margin-right: 0px;
  }

  i.fas.fa-user {
    margin-right: 75px;
  }
  button.checkSubmit {
    border-radius: 15px;
    display: inline;
    float: right;
    margin-right: 50px;
    width: 35px;
  }
  textarea {
    width: 800px;
    height: 25px;
    display: inline;
  }
  form {
    padding-left: 10px;
    padding-top: 15px;
    width: 850;
  }
  .cat {
    color: #8CA8BF;
    background-color: #2F3840;
    border: none;
    float: right;
    display: inline;
    margin-top: 5px;
  }
  button#read.cat{
    margin-right: 50px;
  }

  .list {
    color: #2f3840;
    display: inline;
    text-align: center;
  }
  main.container {
    width: 200px;
    height: 400px;
    background-color: #8ca8bf;
    margin: 10px;
    display: inline;
    float: left;
    border-radius: 10px;
  }
  .submit {
    float: right;
    margin-right: 80px;
    width: 40px;
  }

  #user_id {
    visibility: hidden;
  }

  .desc_li {
    font-size: .8em;
  }
  #editProfile{
    color: #5d707f; 
    border: 2px solid #5d707f;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    width: 839px;
  }
  #editForm {
    color: #8ca8bf; 
    width: 848px;
  }
}
